<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.a22i1066_b_socially">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <uses-feature android:name="android.hardware.camera" required="false"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity android:name=".ProfileImageUploaderActivity" android:exported="false" android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignupActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ChooseAccountActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name=".FYPActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name=".ExplorePageActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name=".ChatActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name=".MyProfileActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name=".MakePostActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

        <activity android:name=".AddPostDetailsActivity" android:exported="false" android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".NotificationsFollowingActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name=".NotificationsYouActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name=".AddStoryActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name=".MyStoryActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name=".BilalStoryActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name=".ibbiStoryActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name=".ammanStoryActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name=".rafayStoryActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name=".SearchBarActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name=".EditProfileActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name=".ibbiCallActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name=".jdCallActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name=".samCallActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name=".ammanCallActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name=".rafayCallActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name=".bilalCallActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name=".HighlightsActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name=".FootsallActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name=".FriendsActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name=".IbbiProfileActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name=".ibbiHighlights1Activity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name=".ibbiHighlights2Activity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name=".ibbiHighlights3Activity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name=".ibbiHighlights4Activity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name=".UploadStoryActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".ChatDetailActivity" android:exported="false" android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity android:name=".ProfileActivity" android:exported="false" android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity android:name=".CallActivity" android:exported="false" android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".VideoCallActivity" android:exported="false" android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity android:name=".PostDetailActivity" android:exported="false" android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".AddHighlightActivity" android:exported="false" android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".HighlightViewActivity" android:exported="false" android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".OtherUserStoryActivity" android:exported="false" android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ImageViewerActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".FollowersFollowingActivity"
            android:exported="false" android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name=".SuggestedUsersActivity"
            android:exported="false" android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name=".CommentsActivity"
            android:exported="false" android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name=".SharePostActivity"
            android:exported="false" android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name=".IncomingCallActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>







    </application>

    </manifest>